.menu-buttons a {
    border: 0 !important;
}

.mod-times {
    display: inline;
}

.mod-txt {
    text-align: right;
    margin-right: 15px;
    font-size: 0.75em;
}

.mod-version {
    text-align: left;
    font-size: 0.75em;
}

.mod-times td span {
    margin-right: 10px;
}

.news {
    position: relative;
    text-align: left;
    width: 380px;
    height: 170px;
    margin: 80px auto 15px auto;
    border: #404040 2px solid;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 5px;
    overflow: auto;
}

.news-list {
    padding: 5px 10px;
    margin: 0;
}

.news-list div {
    margin-top: 10px;
}

body {
    overflow: hidden;
}

div.home-logo, div.home-logo a {
    width: 638px !important;
    height: 215px !important;
    margin-bottom: -50px !important;
}

.home-logo img {
    width: 380px;
}

.wrapper .toplinks {
    position: relative;
}

.mop-home-panda {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -750px;
    background: url('../images/panda.png') no-repeat;
    width: 597px;
    height: 586px;
    z-index: 1;
}

body.home {
    background: #000 url('../images/bg2.jpg') no-repeat top center;
}

.home-wrapper {
    padding-top: 15px !important;
}

body.skinned .home-wrapper {
    background: none !important;
}

.home-logo, .home-logo a {
    width: 638px !important;
    height: 305px !important;
    margin: 0 auto -125px auto !important;
}

.home-featuredbox {
    margin: 15px auto 10px auto !important;
}

a.home-sitetoggler-live, a.home-sitetoggler-live span {
    display: block;
    width: 176px;
    height: 131px;
    position: absolute;
    left: 0;
    top: 0;
}

.home-oneliner {
    padding-top: 35px !important;
}

.home-footer {
    width: 630px !important;
    text-align: right !important;
    margin-top: 60px !important;
    text-shadow: 0 0 8px black, 0 0 7px black, 1px 1px 2px black;
    font-weight: bold !important;
}

body.skinned {
    overflow-x: hidden;
}

body.skinned .toplinks {
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, .75);
}

body.skinned #skin-wrap {
    height: 0;
    margin: 0 auto;
    position: relative;
    width: 500px;
}

body.skinned .skin-link-1 {
    display: block;
    height: 870px;
    left: -500px;
    position: absolute;
    top: 0;
    width: 1500px;
}

body.skinned .skin-pixel {
    bottom: 0;
    height: 1px;
    position: absolute;
    right: 0;
    width: 1px;
}

body.skinned .home-wrapper {
    height: 513px;
    margin: 0 auto;
    position: relative;
    width: 600px;
    z-index: 1;
}

body.skinned .home-logo {
    height: 119px !important;
    width: 261px !important;
}

body.skinned .home-search form {
    width: 375px !important;
}

body.skinned .home-search input {
    -moz-box-shadow: 0px 1px 5px black;
    -webkit-box-shadow: 0px 1px 5px black;
    -o-box-shadow: 0px 1px 5px black;
}

body.skinned .home-oneliner {
    text-shadow: 0px 1px 2px black;
}

body.skinned .footer {
    padding-top: 300px !important;
}

.home-wrapper {
    text-align: center;
    padding-top: 25px;
}

.home-wrapper h1 {
    position: absolute;
    left: -2323px;
    top: -2323px;
}

.home-logo a:visited,
.home-logo a:link {
    display: block;
    cursor: default;
    text-indent: -9000px;
    cursor: pointer;
}

.home-logo {
    display: block;
    cursor: default;
    width: 261px;
    height: 119px;
    margin: 0 auto 20px auto;
}

.home-menu {
    padding-top: 10px;
}

.home-search form {
    display: block;
    position: relative;
    width: 425px;
    margin: 0 auto;
}

.home-search input {
    width: 100%;
    font-size: 20px;
    color: black;
    padding: 3px;
    margin: 0;
    outline: 0;
    border: 1px solid #adadad;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.home-search a {
    display: block;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 24px;
    height: 24px;
    background: url('../images/search5.gif') 4px 4px no-repeat;
}

.home-oneliner {
    margin: 0px;
    padding-top: 53px;
    color: #cccccc;
    line-height: 1.75em;
    font-size: 12px;
}

.home-featuredbox {
    font-size: 13px;
    position: relative;
    text-align: left;
    width: 415px;
    height: 191px;
    margin: 37px auto 10px auto;
    background: no-repeat;
    background-color: transparent;
}

.home-featuredbox-extended {
    width: 515px;
}

.home-featuredbox-links a,
.home-featuredbox-links var {
    position: absolute;
    display: block;
}

.home-featuredbox-links a {
    z-index: 5;
}

.home-featuredbox-links var.active {
    background-color: white !important;
    opacity: 0.075 !important;
    filter: alpha(opacity=7.5) !important;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.home-featuredbox-inner {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.home-featuredbox-inner ul {
    margin: 0
}

.home-featuredbox-inner li {
    margin: 5px 0;
}

.toplinks {
    background: black;
    padding: 5px 2px;
    position: absolute;
    line-height: normal;
    height: auto;
    overflow: visible;
    right: 0;
    top: 0;
}

body, html {
    height: 100%;
}

.home-footer {
    width: 500px;
    text-align: center;
    font-size: 11px;
    margin: 40px auto 0;
}

.home-footer ul {
    margin: 0;
    padding: 0;
}

.home-footer li {
    display: inline;
    padding: 0 6px;
    border-right: 1px solid #333;
    background: none;
}

.home-footer li:last-child {
    border: 0;
}