/*
 Mapper.css version 294
*/
.zone-picker { margin-left: 4px }
.mapper {
    background-color: #000;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,.35);
    margin-top: 10px;
    max-width: calc(100% - 4px);
    overflow: hidden;
    position: relative;
}

.mapper.mapper-autoheight {
    height: auto !important;
}

.mapper-map {
    background-color: #181818 !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    display: block;
    line-height: 0;
    max-width: 100%;
    position: relative;
}

.mapper-overlay {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
}

.mapper[data-mapsize="zoom"] .mapper-overlay-expander {
    margin-top: 66.70984455958549%;
}
.mapper-overlay-expander {
    margin-top: 66.66666666666667%;
}

.mapper .pin {
position:absolute;
width:1px;
height:1px;
font-size:1px;
}

.mapper .pin a {
position:relative;
width:11px;
height:11px;
left:-5px;
top:-5px;
background:url(../images/map-pin-yellow.png) no-repeat;
display:block;
z-index:2;
}
.mapper-pin, .mapper-pin-1, .mapper-pin-2, .mapper-pin-3, .mapper-pin-4 {
    background-image: url("../images/map-pin-yellow.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 13px;
}
.mapper-pin-1, .mapper .pin-1 a {
background-image:url(../images/map-pin-green.png);
z-index:1;
}

.mapper-pin-2,.mapper .pin-2 a {
background-image:url(../images/map-pin-red.png);
z-index:1;
}

.mapper-pin-3,.mapper .pin-3 a {
background-image:url(../images/map-pin-blue.png);
z-index:1;
}

.mapper-pin-4,.mapper .pin-4 a {
background-image:url(../images/map-pin-purple.png);
z-index:1;
}

.mapper-pin-9,.mapper .pin-9 a {
background-image:url(../images/map-pin-gray.png);
z-index:1;
}

.mapper .glow {
    margin: 0 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    cursor: default;
    white-space: nowrap;
    margin-bottom: 2px;
}

.mapper .glow a {
    text-decoration:none;
}

.mapper .glow a:hover {
text-decoration:underline;
}
.mapper-legend {
    background-color: #141414;
    border: 1px solid #101010;
    border-radius: 4px;
    float: left;
    font-size: 11px;
    margin: -4px 0 0 15px;
    white-space: nowrap;
}
.mapper-legend-container {
    padding: 4px 8px;
}
.mapper-legend-pin {
    margin: 0 5px;
}
.mapper-som-button 
{   
    float: left !important;
    margin: 0 !important;
}
div.mapviewer-screen {
    background-color: #000000;
    position: relative;
    text-align: center;
}
div.mapviewer-screen a.mapviewer-cover {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 100;
}
a.mapviewer-cover {
    left: 325px;
    text-decoration: none;
}
a.mapviewer-cover b {
    background: url("../../../images/icons/dialog_icons.gif") no-repeat scroll right -220px rgba(0, 0, 0, 0);
    color: #E0E0E0;
    display: block;
    font-family: Tahoma,sans-serif !important;
    font-size: 15px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    padding-right: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
div.mapviewer-screen a.mapviewer-cover span {
    background-color: #303030;
    display: block;
    padding: 10px;
    position: absolute;
    top: 10%;
}
div.mapviewer-screen a.mapviewer-cover:hover span {
    display: inline-block;
}
a.mapviewer-cover span {
    margin: 0 auto;
    position: static !important;
}
a.mapviewer-close {
    display: block;
    float: right;
    padding: 10px 0 10px 10px;
}

.lightbox-outer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5060;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.lightbox-inner {
    max-height: calc(100% - 80px);
    max-width: calc(100% - 150px);
    position: relative;
    z-index: 5070
}
.lightbox-inner select {
    padding: 0
}
.lightbox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: black;
    opacity: .8;
    filter: alpha(opacity=80);
    z-index: 5050
}
.lightbox-frame {
    background: #303030;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .35);
    box-sizing: border-box;
    padding: 10px 10px 40px;
    position: relative
}
.lightbox-content.listview {
    margin: 0
}
.lightbox-content.listview .listview-band-top,
.lightbox-content.listview .listview-band-bottom {
    background: #303030;
    padding-top: 5px
}
.lightbox-content textarea {
    box-sizing: border-box;
    max-width: 100%
}
.lightbox-caption {
    bottom: 0;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
    left: 10px;
    line-height: 40px;
    overflow: hidden;
    position: absolute;
    right: 170px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.lightbox-caption * {
    overflow: hidden;
    text-overflow: ellipsis
}
@media screen and (max-width: 767px) {
    .lightbox-overlay {
        z-index: 99999
    }
    .lightbox-outer {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99999
    }
    .lightbox-inner {
        bottom: 0 !important;
        height: auto !important;
        left: 0 !important;
        max-height: none;
        max-width: none;
        overflow: auto;
        position: absolute;
        right: 0 !important;
        top: 0 !important;
        width: auto !important
    }
    .lightbox-frame {
        border-radius: 0;
        box-shadow: none;
        bottom: 0;
        box-sizing: border-box;
        height: calc(100% - 40px) !important;
        left: 0;
        margin: 0 !important;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 40px;
        width: 100% !important
    }
    .lightbox-content {
        box-sizing: border-box;
        height: 100%;
        overflow: auto
    }
    .lightbox-content.listview {
        height: calc(100% + 10px);
        margin: -10px -10px 0
    }
    .lightbox-frame.has-lightbox-caption {
        padding-bottom: 50px
    }
    .lightbox-caption {
        background: #303030;
        bottom: 0;
        height: 50px;
        line-height: 50px;
        right: 10px
    }
    .lightbox-frame.has-lightbox-caption a.dialog-check,
    .lightbox-frame.has-lightbox-caption a.dialog-x,
    .lightbox-frame.has-lightbox-caption a.dialog-question,
    .lightbox-frame.has-lightbox-caption a.dialog-arrow {
        margin-top: 49px
    }
}
.lightbox-inner .listview-band-top,
.lightbox-inner .listview-band-bottom {
    background: #242424
}
.lightbox-inner .mapper-legend-icons,
.lightbox-inner .mapper-legend-icons-tip {
    display: none
}
@media screen and (max-width: 767px) {
    .lightbox-content.mapviewer-screen {
        height: 100% !important;
        max-width: 100%
    }
    div.mapviewer-screen a.mapviewer-cover {
        display: none !important
    }
}
a.dialog-check,
a.dialog-x,
a.dialog-question,
a.dialog-arrow {
    background: none !important;
    margin: 9px 0 9px 10px;
    height: 22px;
    display: block;
    float: right;
    color: inherit;
    line-height: 22px;
    white-space: nowrap
}
a.dialog-check:hover,
a.dialog-x:hover,
a.dialog-question:hover,
a.dialog-arrow:hover {
    color: #fff
}
a.dialog-check:before,
a.dialog-x:before,
a.dialog-question:before,
a.dialog-arrow:before {
    color: inherit !important;
    font-size: 130%;
    position: relative;
    top: 1px
}
.dialog-check {
    background: url("../../../images/icons/dialog_icons.gif") right -44px no-repeat
}
.dialog-check:hover {
    background-position: right -198px
}
.dialog-x {
    background: url("../../../images/icons/dialog_icons.gif") right -66px no-repeat
}
.dialog-x:hover {
    background-position: right -220px
}
.dialog-question {
    background: url("../../../images/icons/dialog_icons.gif") right -88px no-repeat
}
.dialog-question:hover {
    background-position: right -242px
}
.dialog-arrow {
    background: url("../../../images/icons/dialog_icons.gif") right -132px no-repeat
}
.dialog-arrow:hover {
    background-position: right -286px
}
@media screen and (max-width: 767px) {
    a.dialog-check,
    a.dialog-x,
    a.dialog-question,
    a.dialog-arrow {
        background: #666 !important;
        border-radius: 99px;
        color: #fff;
        height: 0;
        margin: 0 !important;
        overflow: hidden;
        padding: 26px 0 0 26px !important;
        position: absolute;
        right: 7px;
        top: -33px;
        width: 0;
        z-index: 9999999999
    }
    a.dialog-check,
    a.dialog-question,
    a.dialog-arrow {
        right: 40px
    }
    a.dialog-check:hover,
    a.dialog-question:hover,
    a.dialog-arrow:hover {
        height: 26px;
        line-height: 26px;
        overflow: hidden;
        padding: 0 12px 0 26px !important;
        width: auto
    }
    a.dialog-check:before,
    a.dialog-x:before,
    a.dialog-question:before,
    a.dialog-arrow:before {
        color: #fff !important;
        display: block;
        font-size: 12px;
        height: 26px;
        left: 0;
        line-height: 26px;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 26px
    }
    a.dialog-x:before,
    a.dialog-x:after {
        background: #fff;
        content: ' ';
        display: block;
        height: 2px;
        left: 7px;
        position: absolute;
        top: 12px;
        width: 12px
    }
    a.dialog-x:before {
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    a.dialog-x:after {
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    a.dialog-check:after,
    a.dialog-question:after,
    a.dialog-arrow:after {
        bottom: -7px;
        content: ' ';
        display: block;
        left: -10px;
        position: absolute;
        right: -3px;
        top: -7px
    }
    a.dialog-x {
        background: #933 !important
    }
    a.dialog-check {
        background: #393 !important
    }
    a.dialog-question {
        background: #666 !important
    }
    a.dialog-arrow {
        background: #666 !important
    }
}
.modelviewer a.dialog-x {
    clear: right;
    margin-top: 5px
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont3295.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.5.0')
    format('embedded-opentype'), url('../fonts/fontawesome-webfont3295.woff2?v=4.5.0')
    format('woff2'), url('../fonts/fontawesome-webfont3295.woff?v=4.5.0')
    format('woff'), url('../fonts/fontawesome-webfont3295.ttf?v=4.5.0')
    format('truetype'), url('../fonts/fontawesome-webfont3295.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

a.dialog-check::before, a.dialog-x::before, a.dialog-question::before, a.dialog-arrow::before {
    color: inherit !important;
    font-size: 130%;
    position: relative;
    top: 1px;
}
a.fa::before, button.fa::before, .fa-placement-spaced::before {
    padding-right: 3px;
}
.fa-remove::before, .fa-close::before, .fa-times::before {
    content: "\f00d";
}
.fa::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-ban::before, .fa-eye-slash::before, .fa-heart::before, .fa-heart-o::before, .fa-minus::before, .fa-minus-circle::before, .fa-remove::before, .fa-female::before, .fa-times::before, .fa-times-circle::before {
    color: #c0392b;
}